@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
  }
}

@layer utilities {
  .outline-line {
    outline: 1px solid;
  }

  .line {
    width: 30px;
    height: 3px;
    margin: 7px 0;
    background-color: #008dcb;
    transition: all 0.3s ease-out;
    transform-origin: center;
  }

  .line1.trans {
    transform: rotate(43deg);
    transform-origin: 0px;
  }

  .line2.trans {
    transform: scale(0);
    transform-origin: center;
  }

  .line3.trans {
    transform: rotate(-43deg);
    transform-origin: 0px;
  }

  .transform {
    transition: all 0.3s ease;
    transform: translateX(100%);
  }

  .transform.trans {
    transform: translateX(0%);
  }

  .gradient {
    box-shadow: rgba(7, 9, 14, 1) 0px -80px 36px -28px inset;
  }

  .my-scrollable-container {
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .my-scrollable-container::-webkit-scrollbar {
    display: none;
  }

  .active {
    color: #008dcb !important;
  }

  .section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }

  .section-visible {
    opacity: 1;
    transform: translateY(0);
  }

  .mobile-content-left {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }

  .mobile-content-left.show {
    opacity: 1;
    transform: translateX(0);
  }

  .mobile-content-right {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }

  .mobile-content-right.show {
    opacity: 1;
    transform: translateX(0);
  }

  @media screen and (min-width: 768px) {
    .content {
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    }

    .content-left {
      opacity: 0;
      transform: translateX(-50px);
      transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    }

    .content-left.show {
      opacity: 1;
      transform: translateX(0);
    }

    .content-right {
      opacity: 0;
      transform: translateX(50px);
      transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    }

    .content-right.show {
      opacity: 1;
      transform: translateX(0);
    }

    .content.show {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
